[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/codegen"]
	path = extern/codegen
	url = git@github.com:dmarce1/dg-codegen.git
